<app-table-wrapper
  [headerTitle]="indexMeta.indexTitle"
  [titleIcon]="indexMeta.indexIcon"
  [headerBtnLabel]="indexMeta.createBtnLabel"
  [columns]="indexMeta.columns"
  [dataSource]="records()"
  [loading]="isLoading()"
  [displayCreateButton]="indexMeta.displayCreateButton"
  [displayUpdateButton]="indexMeta.displayUpdateButton"
  [displayDeleteButton]="indexMeta.displayDeleteButton"
  [displayViewButton]="indexMeta.displayViewButton"
  [totalRecords]="totalRecords()"
  [recordsFiltered]="recordsFiltered()"
  paginatorPosition="both"
  [indexRole]="roles().index"
  [updateBtnRole]="roles().update"
  [createBtnRole]="roles().create"
  [showViewBtnRole]="roles().show"
  [deleteBtnRole]="roles().delete"
  [displayFilterBtn]="indexMeta.displayFilterButton"
  [(displayFilters)]="displayFilters"
  [stateKey]="indexMeta.indexTableKey"
  [globalFilterValue]="globalFilterValue()"
  [reorderableColumns]="indexMeta.reorderableColumns ?? false"
  [reorderableRows]="indexMeta.reorderableRows ?? false"
  (createBtnClicked)="navigateCreatePage()"
  (updateBtnClicked)="openUpdateRecordDialog($event)"
  (deleteBtnClicked)="confirmDelete($event)"
  (viewClicked)="openView($event)"
  [withCustomFilters]="true"
  [withAdditionalContent]="true"
  (onLoadData)="loadRecords($event)"
>

  <!-- Extra actions -->
  <ng-template #extendDefaultActionsTemplate let-product>
    <app-ellipsis-action [product]="product" />
  </ng-template>

    <ng-template #cover let-product>
    @if (product.cover) {
      <p-image
        [src]="domainUrl + '/' + product.cover"
        [preview]="true"
        alt="Image"
        width="60"
      >
        <ng-template #indicator>
          <i class="pi pi-search"></i>
        </ng-template>
        <ng-template #image>
          <img
            [src]="domainUrl + '/' + product.cover"
            alt="image"
            width="60"
          />
        </ng-template>
        <ng-template
          #preview
          let-style="style"
          let-previewCallback="previewCallback"
        >
          <img
            [src]="domainUrl + '/' + product.cover"
            alt="image"
            [style]="style"
            (click)="previewCallback()"
          />
        </ng-template>
      </p-image>
    }
  </ng-template>

</app-table-wrapper>


<p-dialog
  [(visible)]="showView"
  appendTo="body"
  position="topright"
  [showHeader]="false"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  [focusOnShow]="true"
  [closeOnEscape]="false"
  styleClass="m-0 min-h-full border-none temporarily-hide-header"
>
  @if (showView()) {
    <app-view-product [(isShowDialog)]="showView" [product]="recordView()" />
  }
</p-dialog>
