<app-table-wrapper
  [headerTitle]="indexMeta.indexTitle"
  [titleIcon]="indexMeta.indexIcon"
  [headerBtnLabel]="indexMeta.createBtnLabel"
  [columns]="indexMeta.columns"
  [dataSource]="records()"
  [loading]="isLoading()"
  [displayCreateButton]="indexMeta.displayCreateButton"
  [displayUpdateButton]="indexMeta.displayUpdateButton"
  [displayDeleteButton]="indexMeta.displayDeleteButton"
  [displayViewButton]="indexMeta.displayViewButton"
  [totalRecords]="totalRecords()"
  [recordsFiltered]="recordsFiltered()"
  paginatorPosition="both"
  [indexRole]="roles().index"
  [updateBtnRole]="roles().update"
  [createBtnRole]="roles().create"
  [showViewBtnRole]="roles().show"
  [deleteBtnRole]="roles().delete"
  [displayFilterBtn]="indexMeta.displayFilterButton"
  [(displayFilters)]="displayFilters"
  [stateKey]="indexMeta.indexTableKey"
  [globalFilterValue]="globalFilterValue()"
  [reorderableColumns]="indexMeta.reorderableColumns ?? false"
  [reorderableRows]="indexMeta.reorderableRows ?? false"
  (createBtnClicked)="navigateCreatePage()"
  (updateBtnClicked)="openUpdateRecordDialog($event)"
  (deleteBtnClicked)="confirmDelete($event)"
  (viewClicked)="openView($event)"
  [withCustomFilters]="true"
  [withAdditionalContent]="true"
  (onLoadData)="loadRecords($event)"
>
  <ng-template #isFeatured let-productSku>
    <p-toggleswitch
      (onChange)="
        changeStatus(
          productSku,
          'product-sku/change-featured-status',
          'isFeatured',
          $event.checked
        )
      "
      [ngModel]="productSku.isFeatured"
    ></p-toggleswitch>
  </ng-template>

  <ng-template #isOffered let-productSku>
    <p-toggleswitch
      (onChange)="
        changeStatus(
          productSku,
          'product-sku/change-offered-status',
          'isOffered',
          $event.checked
        )
      "
      [ngModel]="productSku.isOffered"
    ></p-toggleswitch>
  </ng-template>

  <ng-template #isNew let-productSku>
    <p-toggleswitch
      (onChange)="
        changeStatus(
          productSku,
          'product-sku/change-new-status',
          'isNew',
          $event.checked
        )
      "
      [ngModel]="productSku.isNew"
    ></p-toggleswitch>
  </ng-template>

  <ng-template #isBestSeller let-productSku>
    <p-toggleswitch
      (onChange)="
        changeStatus(
          productSku,
          'product-sku/change-best-seller-status',
          'isBestSeller',
          $event.checked
        )
      "
      [ngModel]="productSku.isBestSeller"
    ></p-toggleswitch>
  </ng-template>
</app-table-wrapper>
