<app-table-wrapper
  [headerTitle]="indexMeta.indexTitle"
  [titleIcon]="indexMeta.indexIcon"
  [headerBtnLabel]="indexMeta.createBtnLabel"
  [columns]="indexMeta.columns"
  [dataSource]="records()"
  [loading]="isLoading()"
  [displayCreateButton]="indexMeta.displayCreateButton"
  [displayUpdateButton]="indexMeta.displayUpdateButton"
  [displayDeleteButton]="indexMeta.displayDeleteButton"
  [displayViewButton]="indexMeta.displayViewButton"
  [totalRecords]="totalRecords()"
  [recordsFiltered]="recordsFiltered()"
  paginatorPosition="both"
  [indexRole]="roles().index"
  [updateBtnRole]="roles().update"
  [createBtnRole]="roles().create"
  [showViewBtnRole]="roles().show"
  [deleteBtnRole]="roles().delete"
  [displayFilterBtn]="indexMeta.displayFilterButton"
  [(displayFilters)]="displayFilters"
  [stateKey]="indexMeta.indexTableKey"
  [globalFilterValue]="globalFilterValue()"
  [reorderableColumns]="indexMeta.reorderableColumns ?? false"
  [reorderableRows]="indexMeta.reorderableRows ?? false"
  (createBtnClicked)="navigateCreatePage()"
  (updateBtnClicked)="openUpdateRecordDialog($event)"
  (deleteBtnClicked)="confirmDelete($event)"
  (viewClicked)="openView($event)"
  [withCustomFilters]="true"
  [withAdditionalContent]="true"
  (onLoadData)="loadRecords($event)"
>
  <ng-template #customFiltersTemplate>
    <app-customers-filters
      [displayFilters]="displayFilters()"
      [(filtersData)]="filtersData"
    />
  </ng-template>

  <ng-template #extendDefaultActionsTemplate let-user>
    <app-ellipsis-action [user]="user" />
  </ng-template>

  <ng-template #fullName let-customer>
    @if (hasAnyRoleListSubscriptionUser()) {
      <a
        pButton
        routerLink="/customers/subscriptions/{{ customer.id }}"
        class="text-blue-500"
        [text]="true"
        [pTooltip]="'Show Subscriptions' | translate"
        tooltipPosition="top"
      >
        {{ customer.full_name }}
      </a>
    } @else {
      {{ customer.full_name }}
    }
  </ng-template>
  <ng-template #owner let-customer>
    @if (customer.is_owner) {
      <svg
        width="25px"
        height="25px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="#ffffff"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g id="style=fill">
            <g id="check-circle">
              <path
                id="Subtract"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM16.5303 10.0303C16.8232 9.73744 16.8232 9.26256 16.5303 8.96967C16.2374 8.67678 15.7626 8.67678 15.4697 8.96967L10.8434 13.5959C10.7458 13.6935 10.5875 13.6935 10.4899 13.5959L8.53033 11.6363C8.23744 11.3434 7.76256 11.3434 7.46967 11.6363C7.17678 11.9292 7.17678 12.4041 7.46967 12.697L9.42923 14.6566C10.1126 15.34 11.2207 15.34 11.9041 14.6566L16.5303 10.0303Z"
                fill="#00bc3b"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    } @else {
      <svg
        width="25px"
        height="25px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM15.36 14.3C15.65 14.59 15.65 15.07 15.36 15.36C15.21 15.51 15.02 15.58 14.83 15.58C14.64 15.58 14.45 15.51 14.3 15.36L12 13.06L9.7 15.36C9.55 15.51 9.36 15.58 9.17 15.58C8.98 15.58 8.79 15.51 8.64 15.36C8.35 15.07 8.35 14.59 8.64 14.3L10.94 12L8.64 9.7C8.35 9.41 8.35 8.93 8.64 8.64C8.93 8.35 9.41 8.35 9.7 8.64L12 10.94L14.3 8.64C14.59 8.35 15.07 8.35 15.36 8.64C15.65 8.93 15.65 9.41 15.36 9.7L13.06 12L15.36 14.3Z"
            fill="#ac060f"
          ></path>
        </g>
      </svg>
    }
  </ng-template>
</app-table-wrapper>

<p-dialog
  [(visible)]="showView"
  appendTo="body"
  position="topright"
  [showHeader]="false"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  [focusOnShow]="true"
  [closeOnEscape]="false"
  styleClass="m-0 min-h-full border-none temporarily-hide-header"
>
  @if (showView()) {
    <app-view-customer [(isShowDialog)]="showView" [customer]="recordView()" />
  }
</p-dialog>
